.app-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  max-width: 960px;
  margin: 0 auto;
}

.app-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #435d7d;
}

.app-header > span:nth-child(1) {
  font-family: Poppins;
  font-variant: normal;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}